.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  color: white;
  background: linear-gradient(to bottom, #182531 ,#33495c);
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}